li{
    list-style: none;
}

.heroes  button{
    background-color: blueviolet;
    color: white;
    padding: 10px;
    margin: 0 10px;
}

.badge{
    margin-right: 5px;
    background-color: black;
}



.selected .name{
    background-color: violet;
}